<!-- a "partial" that contains a list of relationships-->
<div id="relationships-div">
    {{#if users}} <!-- /relationships -> return all users by status -->
        <h2>Mentors</h2>
        {{#if users.mentorList}}
            <h3>Active</h3>
            {{#each users.mentorList}}
                {{#if ('queryRelationshipStatus' this.status.name "approved")}}
                <ul>
                   {{this.name}} 
                </ul>
                {{/if}}
            {{/each}}
            <h3>Pending</h3>
            {{#each users.mentorList}}
                {{#if ('queryRelationshipStatus' this.status.name "pending")}}
                <ul>
                   {{this.name}} 
                </ul>
                {{/if}}
            {{/each}}
            <h3>Completed</h3>
            {{#each users.mentorList}}
                {{#if ('queryRelationshipStatus' this.status.name "completed")}}
                <ul>
                   {{this.name}} 
                </ul>
                {{/if}}
            {{/each}}
            <h3>Rejected</h3>
            {{#each users.mentorList}}
                {{#if ('queryRelationshipStatus' this.status.name "rejected")}}
                <ul>
                   {{this.name}} 
                </ul>
                {{/if}}
            {{/each}}
        {{/if}}

        <h2>Mentees</h2>
         {{#if users.menteeList }}
            <h3>Active</h3>
            {{#each users.menteeList}}
                {{#if ('queryRelationshipStatus' this.status.name "approved")}}
                <ul>
                   {{this.name}} 
                </ul>
                {{/if}}
            {{/each}}
            <h3>Pending</h3>
            {{#each users.menteeList}}
                {{#if ('queryRelationshipStatus' this.status.name "pending")}}
                <ul>
                   {{this.name}} 
                </ul>
                {{/if}}
            {{/each}}
            <h3>Completed</h3>
            {{#each users.menteeList}}
                {{#if ('queryRelationshipStatus' this.status.name "completed")}}
                <ul>
                   {{this.name}} 
                </ul>
                {{/if}}
            {{/each}}
            <h3>Rejected</h3>
            {{#each users.menteeList}}
                {{#if ('queryRelationshipStatus' this.status.name "rejected")}}
                <ul>
                   {{this.name}} 
                </ul>
                {{/if}}
            {{/each}}
        {{/if}}

    {{/if}}

    {{#if user}}
        <a href="../{{myId}}">Back to all relationships</a>
        <li class="single-user-selected">
            {{user.username}}
        </li>
            {{#if chatChannel}}
                <div class="chat-div">
                    <!-- Do something with the chat function here-->
                </div>
            {{else}}
                <p>No chat yet</p>
            {{/if}}

            {{#if workspace.files}}
                <div class="file-div">
                    {{#each workspace.files}}
                        <li class="workspace-file">
                            <!-- file to download -->
                            <a href="/workspaces/file/{{this}}">{{this}}</a>
                        </li>
                    {{/each}}
                </div>
            {{/if}}
        <div class="relationship-options">
            <!-- Give users option to end relationship/etc -->
            <p>Will add stuff eventually</p>
        </div>
    {{else}}
            <h2>Mentors</h2>
            {{#if mentorRelationships.length}} <!--Relationship Objects corresponsing to mentors-->
            <ul>
                {{#each mentorRelationships}}
                    <li class="mentor-workspace">
                        <!--I'd like this path to actually just be /workspaces/:relationshipID, but doing this until we have user session-->
                        <a href="/workspaces/relationships/{{this._id}}">{{this.mentorObj.name}}</a>
                    </li>
                {{/each}}
            </ul>
            {{else}}
                <p class="relationships-no-users">
                    No relationships to display yet
                </p>
            {{/if}}

            <h2>Mentees</h2>
            {{#if menteeRelationships.length}} <!--Relationship Objects corresponsing to mentors-->    
                <ul>
                    {{#each menteeRelationships}}
                        <li class="mentee-workspace">
                            <!--I'd like this path to actually just be /workspaces/:relationshipID, but doing this until we have user session-->
                            <a href="/workspaces/relationships/{{this._id}}">{{this.menteeObj.name}}</a>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p class="relationships-no-users">
                    No relationships to display yet
                </p>
            {{/if}}
    {{/if}}
   
</div>

<div id="relationships-workspace-div">

</div>