<h1>User Profile</h1>
<div>
    <form action="/users/{{person._id}}?_method=PUT" method="POST" id="edit-user">
        <label>Username:
            <input type="text" name="username" value={{person.username}} readonly>
        </label>
            <label>Age:
            <input type="number" name="age" value={{person.age}}>
        </label>
        <label>Name:
            <input type="text" name="name" value={{person.name}}>
        </label>
            <label>Bio:
            <input type="text" name="bio" value={{person.bio}}>
        </label>
        Current Search Tags:
        <ul>
            {{#each person.searchTags}}
                {{#if this}}
                    <li>{{this}}</li>
                {{/if}}
            {{/each}}
        </ul>
        <label>
        Submit New Search Tag:
            <input type="text" name="searchTag">
        </label>
        <button type="submit" form="edit-user">Submit</button>
    </form>
    {{#if updated}}
        Password has been updated!
    {{/if}}
    <form action="/users/{{person._id}}/reset?_method=PUT" method="POST" id="change-password">
        Reset password:
        <label>
            Current password:
            <input type="password" name="password1"/>
        </label>
        <label>
            Confirm current password:
            <input type="password" name="password2"/>
        </label>
        <label>
            New password:
            <input type="password" name="newpassword"/>
        </label>
        <button type="submit" form="change-password">Submit</button>
    </form>
</div>